



{% extends 'base.html' %} {% block content %}
{% load static %}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>
<body>
<style>
     body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: rgb;

}





    }

    .head_text {
        color: rgb;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
        background-color: rgb;

    }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">


    <H1>About Us</H1>
    <p>Technology central is a technology blog that feed users daily on contents relating to technology. The website covers contents across various aspect of innovations in technology over the years. Feel free visit  anytime and to contact us if you have any question. </p>
           </div>
    </div>

</body>
</html>
{% endblock content %}
